@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: $main_text;
}
.background {
  background-color: $background;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
// HEADER
header {
  max-height: 137px;
  line-height: 137px;
  padding-left: 37px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    gap: 40px;

    img {
      width: 47.58px;
      height: 47.58px;
    }
    p {
      @include text(30px, 500, 45px);
      margin-left: 30.71px;
    }
  }
  nav {
    display: flex;
    justify-content: flex-end;
    ul {
      list-style-type: none;
      display: flex;
      gap: 57px;
      @media (max-width: 932px) {
        display: none;
      }

      a {
        @include text(24px, 500, 36px);
        position: relative;
        display: flex;

        &.projects:hover::after {
          @include a_hover(108px, 4px);
        }
        &.tech:hover::after {
          @include a_hover(170px, 4px);
        }
        &.about_me:hover::after {
          @include a_hover(130px, 4px);
        }
      }
    }
  }

  .icons {
    display: flex;
    gap: 55.67px;
    padding-top: 10px;
    position: relative;
    line-height: 36px;

    &:hover::after {
      margin-top: 10px;
      @include a_hover(145px, 4px);
    }
  }
}
// hero section
section {
  min-height: 400px;
}
.hero {
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  position: relative;

  h1 {
    @include text(55px, 600, 83px);
    padding-top: 146px;
  }
  p {
    @include text(30px, 600, 45px);
    padding-top: 67px;
    width: 809px;
    color: rgba(188, 188, 188, 1);
  }

  a {
    p {
      margin-top: 67px;
      @include button(19px 64px 19px 63px, 28px, 280px, 80px, 42px);
      color: $main_text;
    }
  }
  img {
    position: absolute;
    top: 0;
    right: -240px;
  }
}
// SECTION PROJECTS
#projects {
  margin-top: 176px;

  min-height: 600px;

  h2 {
    @include text(55px, 600, 83px);
    padding-left: 115px;
  }

  .one_card {
    display: flex;

    width: 1170px;
    height: 600px;
    margin: 109px 15px 0 15px;

    background: #0f1624;
    box-shadow: 0px 0px 12px #ffffff;
    border-radius: 50px 0px;
  }

  .card_text {
    flex-grow: 1;

    a h3 {
      @include text(36px, 600, 32px);
      text-transform: uppercase;
      padding-top: 88px;
      padding-left: 188px;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        left: 135px;
        height: 10px;
        top: 147px;
        background: $linear-gradient;
        width: 320px;
        border-radius: 83px;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }

    p {
      @include text(28px, 600, 42px);
      padding-top: 110px;
      padding-left: 55px;
    }
    .button {
      p {
        margin-left: 185px;
        margin-top: 64px;
        @include button(19px 58px 19px 58px, 20px, 220px, 65px, 30px);
        color: $main_text;
      }
    }
  }
  .image {
    img {
      padding-top: 30px;
      padding-right: 27.79px;
      width: 500px;
      height: 541.09px;
    }
  }
}

.two_cards {
  margin-top: 139px;
  display: flex;
  flex-grow: 1;
  width: 1200px;
  justify-content: space-between;

  .two_cards_one {
    background: #0f1624;
    box-shadow: 0px 0px 12px #ffffff;
    border-radius: 50px 0px;
    width: 531.82px;
    display: flex;
    flex-direction: column;

    .img {
      width: 100%;
      flex-grow: 1;

      img {
        padding: 25.71px 24.17px 0;
        width: 100%;
        height: 273.6px;
      }
    }
    a h3 {
      @include text(36px, 600, 32px);
      text-transform: uppercase;
      padding-top: 30.86px;
      text-align: center;
      position: relative;

      &:hover::after {
        content: "";
        position: absolute;
        left: 120px;
        height: 4.11px;
        top: 80px;
        background: $linear-gradient;
        width: 290px;
        border-radius: 83px;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
    }
    p {
      @include text(28px, 600, 42px);
      padding-top: 30px;
      width: 90%;
      text-align: left;
      padding-left: calc((100% - 85%) / 2);
      height: 216px;
    }
    .button {
      margin: 0 auto;
      p {
        margin-left: 159px;
        margin-top: 50px;
        margin-bottom: 30px;
        @include button(16.25px 57.3px 16.25px 57.2px, 20px, 220px, 65px, 30px);
        color: $main_text;
      }
    }
  }
}

//Section TECHNOLOGIES
#technologies {
  margin-top: 180px;

  h2 {
    @include text(64px, 600, 96px);
    padding-left: 115px;
  }
}
