#projects .one_card .card_text .button p, .hero a p {
  font-weight: 600;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  border: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%) 2px solid;
  border-radius: 83px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.background {
  background-color: rgb(15, 22, 36);
  height: 100%;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  max-height: 137px;
  line-height: 137px;
  padding-left: 37px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  gap: 40px;
}
header .logo img {
  width: 47.58px;
  height: 47.58px;
}
header .logo p {
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  margin-left: 30.71px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 57px;
}
@media (max-width: 932px) {
  header nav ul {
    display: none;
  }
}
header nav ul a {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  position: relative;
  display: flex;
}
header nav ul a.projects:hover::after {
  content: "";
  position: absolute;
  left: -5px;
  height: 4px;
  top: 46px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 108px;
}
header nav ul a.tech:hover::after {
  content: "";
  position: absolute;
  left: -5px;
  height: 4px;
  top: 46px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 170px;
}
header nav ul a.about_me:hover::after {
  content: "";
  position: absolute;
  left: -5px;
  height: 4px;
  top: 46px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 130px;
}
header .icons {
  display: flex;
  gap: 55.67px;
  padding-top: 10px;
  position: relative;
  line-height: 36px;
}
header .icons:hover::after {
  margin-top: 10px;
  content: "";
  position: absolute;
  left: -5px;
  height: 4px;
  top: 46px;
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  width: 145px;
}

section {
  min-height: 400px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-left: 115px;
  position: relative;
}
.hero h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 83px;
  padding-top: 146px;
}
.hero p {
  font-size: 30px;
  font-weight: 600;
  line-height: 45px;
  padding-top: 67px;
  width: 809px;
  color: rgb(188, 188, 188);
}
.hero a p {
  margin-top: 67px;
  padding: 19px 64px 19px 63px;
  font-size: 28px;
  width: 280px;
  height: 80px;
  line-height: 42px;
  color: #fff;
}
.hero img {
  position: absolute;
  top: 0;
  right: -240px;
}

#projects {
  margin-top: 176px;
  min-height: 1000px;
}
#projects h2 {
  font-size: 55px;
  font-weight: 600;
  line-height: 83px;
  padding-left: 115px;
}
#projects .one_card {
  display: flex;
  width: 1170px;
  height: 600px;
  margin: 109px 15px 0 15px;
  background: #0f1624;
  box-shadow: 0px 0px 12px #ffffff;
  border-radius: 50px 0px;
}
#projects .one_card .card_text {
  flex-grow: 1;
}
#projects .one_card .card_text a h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
  padding-top: 88px;
  padding-left: 188px;
  position: relative;
}
#projects .one_card .card_text p {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  padding-top: 110px;
  padding-left: 55px;
}
#projects .one_card .card_text .button p {
  margin-left: 185px;
  margin-top: 64px;
  padding: 19px 58px 19px 58px;
  font-size: 20px;
  width: 220px;
  height: 65px;
  line-height: 30px;
  color: #fff;
}
#projects .one_card .card_text img {
  padding-top: 30px;
  padding-right: 27.79px;
  width: 500px;
  height: 541.09px;
}/*# sourceMappingURL=style.css.map */